@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1 class="display-4">Bienvenidos</h1>
    <p class="lead">Mi primera aplicación con neptuno s.a.s</p>
    <hr class="my-4">
    <p>Modulo de gestión de de estudiantes</p>
    <p class="lead">
        
    </p>
</div>
